* { 
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
body{
    height: 800px;
    background-image: url(" https://img.favpng.com/14/2/15/hello-kitty-stratocaster-desktop-wallpaper-wallpaper-png-favpng-MJPHikRVxx5wADfWYJhfn23rZ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
}

#header {
    background: rgb(216, 132, 195);
    padding: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    /*background-image: url("https://images4.alphacoders.com/135/135538.jpeg");*/
}

#output {
    width: 90%;
    margin: 30px auto;
}

.node {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    border: 2px solid #E1E1E1;
    color: white;
    margin: 20px 20px;
    position: relative;
}

.node>.node_item {
    padding: 10px;
    background: rgb(235, 203, 228);
}

.right_arrow {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 110%;
    top: 30%;
    color: #555;
}

.node:first-child>.node_item {
    background: rgb(144, 94, 173);
}

.node:last-child>.node_item {
    background: rgb(37, 22, 77);
}

.node:last-child>.right_arrow {
    display: none;
}
.estados{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    width: 40px;
    position: relative;
    margin: 2px;

}
.estados-div{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.btn{
    background-color: #c0189c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  #NumeroEstadosTotales{
      background-color: #ffd211;
  }